{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="Дізнайтеся більше про історію та місію Київського Кінотеатру. Наші цінності та відданість кінематографу.">
<meta name="keywords" content="Київський Кінотеатр, історія, місія, цінності, кінематографія">
{% endblock meta %}

{% block content %}
<h1>Про Нас</h1>
<br>
<div class="row">
    <div class="col-lg-8">
        <h4>Ми - Київський кінотеатр, новий проект у самому серці столиці,
            що пропонує найкращий кінематографічний досвід. Для нас
            кіно - це справжнє мистецтво, яке надихає, вражає та змінює світ.
        </h4>
        <br>
        <h4>
            Ми відчиняємо двері для культурної взаємодії, обговорень
            та інтелектуального розвитку. У нас ви побачите стрічки
            від найвідоміших режисерів та матимете можливість відкрити
            для себе нових талантів у світі кінематографу.
        </h4>
        <br>
        <h4>
            Купуйте квитки онлайн до Київського кінотеатру або в касі
            кінотеатру. Долучайтеся до культурної атмосфери Києва та
            насолоджуйтеся розвагами, які пропонує кіно.
        </h4>
    </div>
    <div class="col-4 d-none d-lg-block">
        <img src="{% static 'images/corn.png' %}" height="400">
    </div>

</div>
{% endblock content %}